# Committing real value since this is a SAMPLE PROJECT

API_URL=http://localhost:3000/api
RETRY_ATTEMPTS=3
GOOGLE_IOS_CLIENT_ID=275904961453-gdp72svha93i3ntnr4s8k1e012i969md.apps.googleusercontent.com
GOOGLE_WEB_CLIENT_ID=275904961453-b07bf5ofc8aa70u4fk09l6qfrpo4rcll.apps.googleusercontent.com